.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.loader:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: #ff9371;
    box-shadow: 32px -34px 0 5px #ff3d00;
    animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff3d00;
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
    0%,
    100% {
        bottom: -35px;
    }

    25%,
    75% {
        bottom: -2px;
    }

    20%,
    80% {
        bottom: 2px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-15deg);
    }

    25%,
    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(25deg);
    }
}

.button {
    background: none;
    border: none;
}

.button .bloom-container {
    position: relative;
    transition: all 0.2s ease-in-out;
    border: none;
    background: none;
}

.button .bloom-container .button-container-main {
    width: 110px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    border-right: 5px solid white;
    border-left: 5px solid rgba(128, 128, 128, 0.147);
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
}

.button .bloom-container .button-container-main .button-inner {
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.5) -10px 5px 10px 0px;
    transition: all 0.5s ease-in-out;
}

.button .bloom-container .button-container-main .button-inner .back {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(
        60deg,
        rgb(1, 85, 103) 0%,
        rgb(147, 245, 255) 100%
    );
}

.button .bloom-container .button-container-main .button-inner .front {
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: linear-gradient(
        60deg,
        rgb(0, 103, 140) 0%,
        rgb(58, 209, 233) 100%
    );
    display: grid;
    place-content: center;
}

.button .bloom-container .button-container-main .button-inner .front .svg {
    fill: #ffffff;
    opacity: 0.5;
    width: 30px;
    aspect-ratio: 1;
    transform: rotate(45deg);
    transition: all 0.2s ease-in;
}

.button .bloom-container .button-container-main .button-glass {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.888) 100%
    );
    transform: translate(0%, -50%) rotate(0deg);
    transform-origin: bottom center;
    transition: all 0.5s ease-in-out;
}

.button .bloom-container .bloom {
    height: 1px;
    width: 1px;
    position: absolute;
    background: white;
}

.button .bloom-container .bloom1 {
    top: 10px;
    right: 20px;
    box-shadow: rgb(255, 255, 255) 0px 0px 10px 10px,
        rgb(255, 255, 255) 0px 0px 20px 20px;
}

.button .bloom-container .bloom2 {
    bottom: 10px;
    left: 20px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 10px,
        rgba(255, 255, 255, 0.5) 0px 0px 30px 20px;
}

.button .bloom-container:hover {
    transform: scale(1.1);
}

.button .bloom-container:hover .button-container-main .button-glass {
    transform: translate(0%, -40%);
}

.button
    .bloom-container:hover
    .button-container-main
    .button-inner
    .front
    .svg {
    opacity: 1;
    filter: drop-shadow(0 0 10px white);
}

.button .bloom-container:active {
    transform: scale(0.7);
}

.button .bloom-container:active .button-container-main .button-inner {
    transform: scale(1.2);
}
